* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

body:before {
	content: '';
	display: table;
}

input {
	height: 30px;
	border: 1px solid #909090;
	padding-left: 1em;
}

input:focus {
	border-color: #ee00ee;
}

div {
	margin-bottom: 10px;
}

.text-center {
	text-align: center;
}

form {
	padding: 15px;
}

/*定义主题*/
.theme-light {
	background-color: #fff;
	color: #333;
}

.theme-dark {
	background-color: #333;
	color: #fff;
}
